<md-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>

  Perdidog

  <span class="app-toolbar-filler"></span>
  <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
</md-toolbar>


<div class="app-content">

  <form #mainForm="ngForm">

  <md-card>
    <h2>Reporte perro perdido</h2>

    <md-input-container>
      <input mdInput  [(ngModel)]='perro.name' name='name' placeholder="Nombre del perro" value="Sushi">
    </md-input-container>

    <select class="form-control"  id="power"
            required
            [(ngModel)]="perro.breed" name="breed">
      <option *ngFor="let breed of breeds" [value]="breed">{{breed}}</option>
    </select>

    <button md-button (click)="submit()">Crear reporte</button>

    <!--<button md-raised-button color="primary">PRIMARY RAISED</button>-->
    <!--<button md-raised-button color="accent">ACCENT RAISED</button>-->
  </md-card>

  </form>

  <md-card>
    <md-checkbox>Unchecked</md-checkbox>
    <md-checkbox [checked]="true">Checked</md-checkbox>
    <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
    <md-checkbox [disabled]="true">Disabled</md-checkbox>
  </md-card>

  <md-card>
    <md-radio-button name="symbol">Alpha</md-radio-button>
    <md-radio-button name="symbol">Beta</md-radio-button>
    <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
  </md-card>
</div>

